html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ManServants
  body (data-pinterest-extension-installed=cr1.3.4)
    header.header
      .header__row
        .header__link
          a.header__link-current(href='whats-a-manservant.html')
            | What's A ManServant
        a.header__home__link(href='/')
          .hear__home__link__image
        .header__link
          a(href='become-a-manservant.html')
            | Become A ManServant
        .header__row-mobile
          a.header__link.header__link--mobile(href='become-a-manservant.html')
          | Become A ManServant
        a.header__link.header__link--mobile(href='whats-a-manservant.html')
          | What's A ManServant?
    .wam
      .subhero__holder--desktop
        h1.subhero__header
          | A Man, But Better
        hr
        .subhero.wam__subhero
          .subhero__text.wam_subhero__text.hidden
            h2.wam__subheader
              | Every ManServant
            | is a bespoke experience, created to unleash your inner lady of leisure. Here's how we build each
            span.serif-italic
              | ManServant
            | to suit your taste and interests.
      .subhero__holder--mobile
        .wam__subhero.wam__subhero--mobile
      .subhero__text.subhero__text--mobile
        h1.subhero__header
          | A Man, But Better
        hr
        .subhero__paragraph--mobile
          | Every
          span.serif-italic
            | ManServant
          | is a bespoke experience, created to unleash your inner lady of leisure. Here's how we build each ManServant to suit your taste and interests.
        .wam__cta
          a.btn.button(href='https://manservant.wufoo.com/forms/wheres-my-manservant/')
            | Book A ManServant
      .wam__subview_picker
        .wam__subview_option
          a.wam_subview__toggle.wam_subview__number.selected(href='#look')
            | 1
          h3.wam_subview__subheader
            | His Look
          p.wam_subview__text
            | Tell us what he looks like, what he'll do, and even what his name should be.
          a.wam_subview__toggle.wam_subview__link(href='#look')
            | Cast Your Manservant  >
          .wam__subview.wam__subview--mobile
            h3.subview__header
              | We'll search far and wide to find the right talent, and you'll take your pick from a pool of qualified applicants.
            hr.subview__hr
            .subview__cards
              .subview__card
                h4.card__header
                  | Set His Dress Code
                p.card__text
                  | A sharp suit, jeans and no shirt, or anything else that doesn't include a banana hammock.
              .subview__card
                h4.card__header Name Him
                p.card__text
                  | A ManServant will answer to the name you've bestowed upon him, whether it's Garçon, Bartholomew, or Ryan Gosling.
              .subview__card
                h4.card__header
                  | Just Your Type
                p.card__text
                  | Blonde to brunette, James Bond to Middle-Earth, if your type lives to serve, we've got him.
        .wam__subview_option
          a.wam_subview__toggle.wam_subview__number(href='#conduct')
            | 2
          h3.wam_subview__subheader
            | His Conduct
          p.wam_subview__text
            | We created the ManServants Code of Chivalry to ensure he treats you like a queen.
          a.wam_subview__toggle.wam_subview__link(href='#conduct')
            | Read The Code  >
          .wam__subview.wam__subview--mobile
            .conduct__cards--mobile
              ol.conduct_cards__list--mobile
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp1.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp2.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp3.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp4.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp5.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp6.png')
                li.conduct_cards__item
                  img.conduct_card__image(src='assets/images/cp/cp7.png')
        .wam__subview_option
          a.wam_subview__toggle.wam_subview__number(href='#duties')
            | 3
          h3.wam_subview__subheader
            | His Duties
          p.wam_subview__text
            | Every ManServant is trained to wait on you hand and foot. But that's not all.
          a.wam_subview__toggle.wam_subview__link(href='#duties')
            | See His Duties  >
          .wam__subview.wam__subview--white.wam__subview--mobile
            .subview__section--services
              h3.subview__header.services
                | Standard Service
              ul.services__list
                li.services_list__item
                  | Waits on you hand and foot
                li.services_list__item
                  | Takes photos
                li.services_list__item
                  | Serves drinks
                li.services_list__item
                  | Gives round-the-clock compliments
                li.services_list__item
                  | Acts as a bodyguard
                li.services_list__item
                  | Cleans up your hot mess
            .subview__section--additional-services
              h3.subview__header.additional_services
                | Available For An Additional Fee
              ul.additional_services__list
                li.service__block
                  h5.service__header
                    | Make Him Musical
                  p.service__text
                    | Girls in fairytales and romantic comedies always get serenaded with a guitar, now you can too.
                li.service__block
                  h5.service__header
                    | Give Him An Accent
                  p.service__text
                    | Because compliments sound better in French. Or whatever language you like.
                li.service__block
                  h5.service__header
                    | The ManServant Tool Belt
                  p.service__text
                    | He'll come equipped with the phone chargers, flats, vanity kits, and other (legal) personal items.
                li.service__block
                  h5.service__header
                    | Spa Treatment
                  p.service__text
                    | Cucumber water, chocolate covered strawberries, charcuterie plates, and anything else you need for a day of pampering.
